<form method="post">
  <table>
    <tr><td>NOM:</td><td><div>
        <label for="nom">x :</label>
        <input type="text" id="nom" name="nom">
    </div></td><td><div>
        <label for="prn">x :</label>
        PRENOM:<input type="text" id="prn" name="prn">
    </div></td></tr>
    <tr><td>Produit</td><td>Prix Unitaire</td><td>Quantité</td></tr>
    <tr><td>Clavier</td><td><div>
        <label for="cp">x :</label>
        <input type="text" id="cp" name="cp">
    </div></td><td><div>
        <label for="cq">x :</label>
        <input type="text" id="cq" name="cq">
    </div></td></tr>
    <tr><td>Souris</td><td><div>
        <label for="sp">x :</label>
        <input type="text" id="sp" name="sp">
    </div></td><td><div>
        <label for="sq">x :</label>
        <input type="text" id="sq" name="sq">
    </div></td></tr>
    <tr><td>Scaner</td><td><div>
        <label for="scp">x :</label>
        <input type="text" id="scp" name="scp">
    </div></td><td><div>
        <label for="scq">x :</label>
        <input type="text" id="scq" name="scq">
    </div></td></tr>
    <tr><td><button type="submit" formaction="http://127.0.0.1:5000/Facture">Valider</button></td><td><button type="reset" >Effacer</button></td></tr>
  </table>
</form>