<form method="post">
    <div>
        <label for="x">x :</label>
        <input type="text" id="x" name="x">
    </div>
    <div>
        <label for="y">y :</label>
        <input type="text" id="y" name="y">
    </div>
    <div class="button">
        <button type="submit" formaction="http://127.0.0.1:5000/somme">somme</button>
        <button type="submit" formaction="http://127.0.0.1:5000/produit">produit</button>
        <button type="submit" formaction="http://127.0.0.1:5000/division">division</button>
        <button type="submit" formaction="http://127.0.0.1:5000/factoriel">factoriel</button>
    </div>
</form>